body{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: whitesmoke;
}
.container{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: -0.5em;
    margin-left: -0.5em;
}
.navbare{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #1D6F42;
}
.navbare .buttons{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.navbare .buttons .actions{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.navbare .buttons .actions .action,.navbare .buttons .logout .action{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    margin-left: 1em;
    border-radius: 10em;
    height: 7vh;
    width: 80%;
    padding-left: 0.5em;
}
.navbare .buttons .actions .action:hover,.navbare .buttons .logout .action:hover{
    background-color: whitesmoke;
    color: #1D6F42;
    font-weight: 600;
    cursor: pointer;
}
.navbare .buttons .actions .action{
    margin-top: 0.5em;
}
.navbare .buttons .logout .action{
    margin-bottom: 0.5em;
}
.navbare .buttons .actions .action ion-icon,.navbare .buttons .logout .action ion-icon{
    margin-right: 0.5em;
}
.navbare .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbare .top h1{
    font-size: 18px;
    color: whitesmoke;
}
.navbare .top ion-icon{
    font-size: 22px;
    margin-right: 0.2em;
    color: whitesmoke;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: whitesmoke;
}
.menu .profilePage{
    display: flex;
    border: 2px solid #1D6F42;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
    border-radius: 5px;
}
.menu .profilePage form .output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.menu .profilePage form .output input{
    border: 2px solid #1D6F42;
    padding: 5px;
    width: 140%;
    margin-top: -0.8em;
    border-radius: 5px;
}
.menu .profilePage form .output select{
    border: 2px solid #1D6F42;
    width: 150%;
    margin-top: -0.8em;
    padding: 5px;
    border-radius: 5px;
}
.menu .profilePage form button{
    width: 100%;
    margin-top: 1.5em;
    padding: 5px;
    background-color: #1D6F42;
    border: 1px solid #1D6F42;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
    text-transform: uppercase;
}